.inputField { 
    background-color: transparent;
    height: 40px;
    width: 300px;
    border: 2px solid rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    z-index: 1;
}

.inputField:hover {
    border: 2px solid black;
}
.inputField:focus-visible  {
    outline: none!important;
    border: 2px solid #1976d2;
}

.signUp {
    margin: 25px;
    font-size: 16px;
}
.signup~span {
    font-size: 18px;
    transition: all ease-in-out 0.5s;
    /* align-items: center; */
}
.signUp:focus ~ span {
    z-index: 10;
    font-size: 18px;
    transition: all ease-in-out 0.5s;
}

.tag {
    align-items: start;
    
}