.inputField {
  background-color: transparent;
  height: 3rem; /* 40px */
  width: 20rem; /* 300px */
  border: 0.125rem solid rgba(0, 0, 0, 0.23); /* 2px */
  border-radius: 0.9375rem; /* 15px */
  z-index: 1;
}

.inputField:hover {
  border: 0.125rem solid black; /* 2px */
}

.inputField:focus-visible {
  outline: none !important;
  border: 0.125rem solid #1976d2; /* 2px */
}

.signUp {
  margin: 1.5625rem; /* 25px */
  font-size: 1rem; /* 16px */
}

.signup ~ span {
  font-size: 1.125rem; /* 18px */
  transition: all ease-in-out 0.5s;
}

.signUp:focus ~ span {
  z-index: 10;
  font-size: 1.125rem; /* 18px */
  transition: all ease-in-out 0.5s;
}

.tag {
  align-items: start;
}
