.btn-outline-primary {
  height: 3.2rem; /* 45px */
  width: 22rem; /* 300px */
  background-color: #daebff;
  border: 0.125rem solid rgba(0, 0, 0, 0.23); /* 2px */
  border-radius: 0.9375rem; /* 15px */
  font-size: 1.25rem; /* 20px */
  align-content: center;
  text-align: center;
  font-weight: bold;
}

.btn-outline-primary:hover {
  background-color: #b0d5ff;
}
